<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || 'CoffeeCup' %></title>
  <script type="text/javascript">
    window.variant = 'native';
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body class="<%= params[:controller].parameterize %> <%= params[:action].parameterize %>">
<div class="container">
<%= yield %>
</div><!-- /.container -->

</body>
</html>
